name: Daily PubMed Update

# 触发条件：每天 UTC 时间 0:00 (北京时间 8:00) 运行
on:
  schedule:
    - cron: '0 0 * * *'
  # 允许你手动点击按钮触发（方便测试）
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install feedparser deep-translator pytz

    - name: Run script
      run: python main.py

    - name: Commit and Push changes
      run: |
        git config --global user.name 'GitHub Actions Bot'
        git config --global user.email 'actions@github.com'
        git add docs/
        # 如果有变动才提交，否则不报错
        git commit -m "Update Daily Papers [skip ci]" || exit 0
        git push
